<% if alert %>
  <div class="alert notification is-danger">
    <button class="delete"></button>
    <%= alert %>
  </div>
<% elsif notice %>
  <div class="alert notification is-success">
    <button class="delete"></button>
    <%= notice %>
  </div>
<% end %>
<div class="tile is-ancestor mt-6">
  <div class="tile"></div>
  <div class="tile is-7">
    <div class="tile is-parent">
      <article class="tile is-child notification is-info">
        <p class="title">Sign Up</p>
        <%= form_with model: @user, url: registrations_path do |f| %>
        <div class="field">
          <%= f.label 'Email', class:"label" %>
          <div class="control has-icons-left has-icons-right">
            <%= f.text_field :email,type:"email", class:"input", placeholder:"hello@" %>
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <%= f.label 'Username', class:"label" %>
          <div class="control has-icons-left has-icons-right">
            <%= f.text_field :username, class:"input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <%= f.label 'Password', class:"label" %>
          <div class="control has-icons-left has-icons-right">
            <%= f.password_field :password, class:"input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-unlock-alt"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <%= f.label 'Password_Confirmation', class:"label" %>
          <div class="control has-icons-left has-icons-right">
            <%= f.password_field :password_confirmation, class:"input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-unlock-alt"></i>
            </span>
          </div>
        </div>

        <div class="field is-grouped is-grouped-centered mt-5">
          <div class="control">
            <%= f.submit 'Sign Up', class:"button is-link" %>
          </div>
          <div class="control">
            <%= link_to 'Cancel', root_path, class:"button is-link is-light" %>
          </div>
        </div>
        <% end %>
      </article>
    </div>
  </div>
  <div class="tile"></div>
</div>